# vim: set filetype=zsh: 

alias aliases='vim $HOME/.aliases'
alias config='git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Load Git aliases under g<alias> https://gist.github.com/mwhite/6887990
for al in `git --list-cmds=alias`; do
  alias g$al="git $al"
done

for al in `git --list-cmds=alias`; do
  alias conf$al="config $al"
done

alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'
alias -g ......='../../../../..'

alias cdc='cd $HOME/gh/camunda'
alias cdcc='cd $HOME/gh/camunda/camunda'
alias cdz='cd $HOME/gh/camunda/camunda/zeebe'
alias cdc9='cd $HOME/gh/camunda/camunda-8.9'
alias cdc8='cd $HOME/gh/camunda/camunda-8.8'
alias cdc7='cd $HOME/gh/camunda/camunda-8.7'
alias cdc6='cd $HOME/gh/camunda/camunda-8.6'
alias cdc5='cd $HOME/gh/camunda/camunda-8.5'
alias cdc4='cd $HOME/gh/camunda/camunda-8.4'
alias cdc3='cd $HOME/gh/camunda/camunda-8.3'

alias cdk='cd $HOME/gh/korthout'
alias cdba='cd $HOME/gh/korthout/backport-action'

alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'

alias v='vim'
alias vim='nvim'

alias mvnc='mvn clean'
alias mvncom='mvn compile -Dquickly'
alias mvncomp='mvncom'
alias mvni='mvn install -Dquickly'
alias mvnin='mvni'
alias mvnins='mvni'
alias mvninst='mvni'
alias mvnict='mvni'
alias mvncist='mvn clean install -Dquickly'
alias mvnt='mvn test -Dquickly -DskipTests=false -DforkCount=4'
alias mvnt1='mvn test -Dquickly -DskipTests=false -DforkCount=1'
