[user]
	name = Nico Korthout
	email = nicokorthout@gmail.com
[includeIf "gitdir:~/gh/camunda/"]
	path = ~/gh/camunda/.gitconfig

[core]
	editor = nvim
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[alias]
	a = add
	aN = add --intent-to-add
	anc = ! git merge-base $1 --is-ancestor $2 && echo yes || echo no
	anch = ! echo 'usage: ganc <ancestor> <descendant>'
	c = commit
	ca = commit --amend
	cfu = commit --fixup
	cm = checkout main
	co = checkout
	d = diff
	dca = diff --cached
	f = fetch
	fa = fetch --all --prune
	ff = fetch --all --prune --prune-tags --force
	l = log --graph --date=relative --pretty=format:'%C(yellow)%h %C(auto)%d %C(auto)%s %C(green)%aN %C(red)%cd %C(reset)' --color=always
	la = log --graph --date=relative --pretty=format:'%C(yellow)%h %C(auto)%d %C(auto)%s %C(green)%aN %C(red)%cd %C(reset)' --color=always --all
	mn = merge --no-ff --no-commit
	p = push
	pf = push --force
	prune = ! git branch --merged main | grep -v '^[ *]*main$' | xargs git branch -d
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbia = rebase --interactive --autosquash
	rh = reset
	rhh = reset --hard
	sh = show
	st = status
	sw = switch
	swc = switch --create
	sw10 = ! git branch --sort=-committerdate | head -n 10 | fzf --header \"Switch to recent branch\" | xargs git switch
	up = pull --rebase
