[user]
	name = Nico Korthout
	email = nico.korthout@camunda.com
	signingkey = /Users/nico.korthout/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/b777e3072a82c639b7a64745563631f3.pub
