[user]
	name = Nico Korthout
	email = nico.korthout@camunda.com
	signingkey = /Users/nico.korthout/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/125798f180e6503fbde7f97447be0547.pub
